* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cleanerfix::after{
  content: "";
  clear: both;
  display: table;
}

.conteiner {
  width: 920px;
  margin-left: auto;
  margin-right: auto;
  font-family: Montserrat;
}

.header-conteiner {
  height: 120px;
  margin-top: 20px;
}

.first{
  margin-left: -7px;
}

nav ul li{
  display: inline-block;
  list-style: none;
}

nav ul li a{
  padding: 0 7px;
  color: rgba(182,182,182,255);
  text-decoration: none;
}

nav ul{
  padding-top: 30px;
}

.img-banner{
  position: relative;
  margin-top: 20px;
}

.row{
  width: 20%;
}

.row-center {
  width:58%;
  margin: 0px 1%;
}

.background {
 padding-bottom: 10px;
}

footer .conteiner {
  height: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.float-main {
  float: left;
  height: 100%;
  margin-top: 40px;
}

.top {
  height: 50px;
}

.logo{
  width: 130px;
}


.img-main{
  border-radius: 13px;
  width: 100%;
  bottom: 100px;
  position: relative;
}


.img-title{
  position: absolute;
  bottom: 55px;
  width: 50%;
  padding-left: 40px;
  font-size: 14px;
  color: white;
  z-index: 1;
}


.color-grey{
  color: rgba(174,174,174,255);
  
}
h4{
  padding-top: 20px;
  padding-bottom: 10px;
}

.img-float{
  height: 184px;
}

.img-center{
  width: 100%;
  height: 184px;
  object-fit: cover;
}

.float-1{
  position: relative;
}

.overlay-1{
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 13px;
}

.img-float-2{
  height: 184px;
  width: 100%;
  object-fit: cover;
}

.banner{
  background-image: url(../img/banner.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}
 
.overlay-2::after{
  content: "";
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 13px;
}